.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  padding: 0 15px;
}

.header__main-nav {
  display: flex;
  align-items: center;
}

.header__site-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $secondary-text-color;

  transition: color 250ms $cubic-bezier;

  &--current {
    position: relative;
  }

  &--current::after {
    content: '';
    width: 100%;
    height: 4px;

    display: block;
    position: absolute;
    margin-top: 28px;

    background-color: $accent-color;
    border-radius: 2px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 305px;
}

.contacts__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__svg {
  fill: $primary-text-color;
  margin-right: 10px;

  transition: fill 250ms $cubic-bezier;
}

/* оформление ссылок в хедере */

.contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms $cubic-bezier;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

/* наведение и фокус на ссылках */

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: $accent-color;
}

.contacts__link:hover .contacts__svg,
.contacts__link:focus .contacts__svg {
  fill: $accent-color;
}

.header__page-item:not(:last-child) {
  margin-right: 50px;
}
